

body{
    background-color: violet;
    background-color: Soft Magenta hsl(300, 69%, 71%);
    
}

h1 {
    font-weight: 600;
    color:hs(257, 40%, 49%);
}

/* for mobile */
@media only screen and (max-width: 768px) {
.logo {
    left: 10px;
}
}

h1 {
    font-weight: 400;
    color: blue;
}